@model GSTEducationERPLibrary.Counsellor.Counsellor

<div>
    @*<h4>Counsellor</h4>*@
    <hr />
    <!-- Load Highcharts script -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- Load Chart.js script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div id="container5" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script>
$(function () {
    var data = @Html.Raw(ViewBag.DS1);

    var chart = Highcharts.chart('container5', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Dropout Students Count'
        },
        xAxis: {
            categories: data.map(item => item.label)
        },
        yAxis: {
            title: {
                text: 'Dropout Students Count'
            }
        },
        series: [{
            name: 'Dropout Students',
            data: data.map(item => item.dropout)
        }]
    });
});
    </script>


</div>

