@model GSTEducationERPLibrary.Counsellor.Counsellor

<div>
    @*<h4>Counsellor</h4>*@
    <hr />
    <!-- Load Highcharts script -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- Load Chart.js script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>


    <div id="graphCanvas10" style="width:100%; height:400px;"></div>

  

    <script>
    $(function () {
        var data = @Html.Raw(ViewBag.DataPoints8);

        Highcharts.chart('graphCanvas10', {
             chart: {
                 type: 'column'
             },
             title: {
                 text: 'Monthly Lead VS Enquiries VS Admissions'
             },
             xAxis: {
                 categories: data.map(item => item.label),
                 crosshair: true
             },
             yAxis: {
                 min: 0,
                 title: {
                     text: 'Counts'
                 }
             },
             tooltip: {
                 headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                 pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                     '<td style="padding:0"><b>{point.y}</b></td></tr>',
                 footerFormat: '</table>',
                 shared: true,
                 useHTML: true
             },
             plotOptions: {
                 column: {
                     pointPadding: 0.2,
                     borderWidth: 0
                 }
             },
             series: [{
                 name: 'Lead',
                 data: data.map(item => item.lead),
                 color: '#f990a7'
             }, {
                 name: 'Enquiries',
                 data: data.map(item => item.enquiry),
                 color: '#90ed7d'
             }, {
                 name: 'Admissions',
                 data: data.map(item => item.admission),
                 color: '#aad2ed'
             }]
         });
 });
    </script>


</div>

